@font-face{
  font-family:WD_tech_Plain;
  font-weight:400;
  src:url(WD_tech_Plain.eot);
  src:url(WD_tech_Plain.eot?#iefix) format("embedded-opentype"),
    url(WD_tech_Plain.woff) format("woff"),
    url(WD_tech_Plain.ttf) format("truetype"),
    url(WD_tech_Plain.svg#WD_tech_Plain) format("svg");
  font-style:normal
}
body{
  font-family: 'Source Code Pro';
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#loading{
  position:absolute;
  left:0;
  top:0;
}

#future{
  position: absolute;
  bottom: 150px;
  transform: translate(-50%, 0);
  width: 171px;
  height: 40px;
  background-color: #1f97ed;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  left: 50%;
  border-radius: 4px;
  z-index: 99;
  opacity: 0;
  transition: opacity 1s;
}
#future:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0 0 3em rgb(0, 204, 255)
}

.h1{font-size: 20px;stroke:#1f97ed;}
.params{
  position:absolute;
  top:5px;
  right: 5px;
  width: 220px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 5;
}
.params label{
  display: inline-block;
  width: 50px;
}
#circle path:hover{transform: scale(1, 1.1);}
.allowanceProfit text{font-size: 20px;font-size: WD_tech_Plain;}
.allowanceProfit{transform: translate(50px,50px);}
.chart{transform: translate(0,50px);}
.pubOpMonitor {
  transform: translate(50px, 450px);
}
#sideSvg{position: absolute;left: 0;top:0;}

#circleCanvas{
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: jumpcircleCanvas 4s ease-out
}
#circleBlue {
  animation: jumpcircleBlue 4s ease-out
}

#canvasParticle{
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}


.electric-loader {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  /* width: 80%;
  width: 80vw;
  height: auto;
  max-width: 600px; */
  animation: jumpelectric 4s ease-out
}
.pointer{
  stroke: #1f97ed; 
  stroke-width: 2;
  fill: none;
  transition: stroke-dashoffset 1s;
}

.electric-loader path { 
  fill: none;
  stroke: #1f97ed; 
  stroke-width: 1.2; 
  
  /* transform-origin: 50% 50%; */
  animation: 
    stroke-anim 2s steps(40) infinite, 
    stroke-color 0.6s steps(10)  alternate infinite,
    /* spin 84s linear infinite; */
}
.heatmap a{
  display: block;
  width: 10px;
  height: 10px;
  background: #1f97ed;
  position: absolute;
  z-index: 6;
  border-radius: 5px;
  /* animation: jumpa 5s ease-out */
    /* breath 1s ease-in-out infinite */
}

.jumpout {
  animation: jumpa 5s ease-out
}
.flink{ left: 48%; top: 46%;}
.rlink{ left: 48%; top: 57%;}
.plink{ left: 53%; top: 57%;}

.canbreath {
  animation: breath 1s ease-in-out infinite
}

@keyframes stroke-anim { to { stroke-dashoffset: 0; } }
@keyframes stroke-color { to { stroke: #49BEB7; } }
@keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@keyframes breath {
    0%   {-webkit-transform: scale(1)}
    50%  {-webkit-transform: scale(1.3);opacity:0.8;}
    100% {-webkit-transform: scale(1)}
}

@keyframes jumpcircleCanvas {
  0% {transform: rotateY(-45deg) rotateX(65deg) translateZ(550px) scale(0.2,0.3)}
  50% {transform: rotateY(-45deg) rotateX(65deg) translateZ(70px) scale(1,1)}
  100% {transform: rotateY(0deg) rotateX(0deg) translateZ(0px) scale(1,1)}
  /* 100% {transform: rotateY(360deg) rotateX(0deg) translateZ(0px) scale(1,1)} */
}

@keyframes jumpcircleBlue {
  0% {transform: rotateY(-45deg) rotateX(65deg) translateZ(-650px) scale(0.2,0.3)}
  50% {transform: rotateY(-45deg) rotateX(65deg) translateZ(100px) scale(1,1)}
  100% {transform: rotateY(0deg) rotateX(0deg) translateZ(0px) scale(1,1)}
  /* 100% {transform: rotateY(0deg) rotateX(360deg) translateZ(0px) scale(1,1)} */
}
@keyframes jumpelectric {
  0% {transform: rotateY(-45deg) rotateX(65deg) translateZ(750px) scale(0.2,0.3)}
  50% {transform: rotateY(-45deg) rotateX(65deg) translateZ(130px) scale(1,1)}
  100% {transform: rotateY(0deg) rotateX(0deg) translateZ(0px) scale(1,1)}
  /* 100% {transform: rotateY(360deg) rotateX(360deg) translateZ(0px) scale(1,1)} */
}
@keyframes jumpa {
  0% {opacity: 0}
  80% {opacity: 0}
  100% {opacity: 1}
  /* 100% {transform: rotateY(360deg) rotateX(360deg) translateZ(0px) scale(1,1)} */
}
